*{
    box-sizing: border-box;
    
}
body {
    background-color: #FAFAFA;
}
main{
    margin-left: 10px;
}
.create-employee {
    width: calc(100%-300px);
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
}



.employee-form {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 5px 10px 8px #d4d2d2;
    border-radius: 10px;
}

.employee-form .form-main {
    display: flex;
    flex-wrap: wrap;

}


.button-group {
    padding: 15px;
    display: flex;
    gap: 30px;
    width: 33%;
}

.submit-button {
    background-color: #03AEEE;
    color: #fff;
    border: 0;
    padding: 10px 85px;
    width: 100%;
}

.submit-button:hover {
  background-color: #009bd1;
}

.reset-button {
    background-color: #fff;
    color: #8e8e8e;
    border: thin solid #d4d2d2;
    padding: 10px 85px;
    width: 100%;
}

.reset-button:hover {
    background-color: #d6d6d6;
}

