.form-group {
    width: 33.33%;
    display: flex;
    flex-direction: column;
}

.form-group input {
    height: 50px;
    background-color: #FAFAFA;
    padding: 10px 15px;
    border-radius: 5px;
    border: thin solid #d4d2d2;
}


